<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "dispositivos", "data-turbolinks-track" => true %>
<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/home">Inicio</a></li>
      <li><a href="/dispositivos/index">Dispositivos</a></li>
    </ol>
  </div>
</div>

<div class="row">

  <%  current_user.dispositivos.each do |dispositivo| %>
    <div class="col-xs-12 col-lg-3">
      <div class="box card_dispositivo">
        <div class="box-header <%=  dispositivo.status.downcase %>">
          <div class="box-name">
            <span class="labelStatus"><%=  dispositivo.status %></span>
          </div>
          <div class="no-move"></div>
        </div>
        <div class="box-content card_content">
          <div class="card_icon">
            <i class="fa <%=DispositivosHelper.get_icon_class(dispositivo)%> icon_big"></i>
          </div>
          <div class="card_info">
            <div class=""><span><%=  dispositivo.platform %> (<%=  dispositivo.versao %>)</span> <span class="pull-right"> <%=  dispositivo.framework %> </span></div>
            <hr/>
            <div class=""><small>Model</small></div>
            <div class=""><%=  dispositivo.model %></div>
            <div class=""><small>Nome</small></div>
            <div class=""><%=  dispositivo.name %></div>
            <br/>
            
            <% if dispositivo.status != "LIBERADO" %>
            <% labelButton = 'Desbloquear' %>
            <%else%>
            <% labelButton = 'Bloquear' %>
            <% end %>
            <button type="button" class="btn btn-default pull-right btnDesbloquear" status="<%=dispositivo.status%>" uuid="<%=dispositivo.uuid%>" data-toggle="modal"><%=labelButton%></button>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  var url_desbloquear = '<%= desbloquear_ajax_path %>';
</script>